@model PawellsMusicEditor.Models.SoundTrack

@{
    ViewBag.Title = "MusicEditor";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="large-12 columns">
    <div class="panel mano">

        <div class="row">
            <div class="large-5 columns">
                <h5 class="songtitle">Song title</h5>

                <ul class="button-group">
                    <li><a href="#" class="button small play"><i class="fa fa-play"></i></a></li>
                    <li><a href="#" class="button small pause"><i class="fa fa-pause"></i></a></li>
                    <li><a href="#" class="button small stop"><i class="fa fa-stop"></i></a></li>
                    <li><a href="#" class="button small previous"><i class="fa fa-step-backward"></i></a></li>
                    <li><a href="#" class="button small next"><i class="fa fa-step-forward"></i></a></li>
                </ul>

                <div id="currentTime">00:00</div>
                <div id="currentTimeSlider"></div>
            </div>
            <div class="large-1 columns">
                <i class="fa fa-volume-up"></i>
                <div id="volume"> </div>
                <i class="fa fa-volume-down"></i>
            </div>
            <div class="large-6 columns">
                <h5>Actions</h5>
                <ul class="button-group edit-button-group">
                    <li><a href="#" class="button small" id="button-to-upload"><i class="fa fa-plus"></i></a></li>
                    <li><a class="button small disabled edit-button" id="crop-button" href="@Url.Action("Crop", "MusicEditor", new { })"><i class="fa fa-crop"></i></a></li>
                    <li><a class="button small disabled edit-button" href="#"><i class="fa fa-signal"></i></a></li>
                    <li><a class="button small disabled edit-button" href="@Url.Action("RemoveSoundTrack", "MusicEditor", new { })" id="button-to-remove"><i class="fa fa-minus" id="button-to-remove"></i></a></li>
                    <li><a class="button small disabled edit-button" href="#"><i class="fa fa-floppy-o"></i></a></li>
                </ul>

                @using (Html.BeginForm("Index", "MusicEditor", FormMethod.Post, new { enctype = "multipart/form-data", id = "upload-form" }))
                {
                    <input type="file" name="Failas" value="File" id="File" />
                }
            </div>
        </div>
        <div class="row">
            <div class="large-5 columns" id="song-list">
                <ol id="selectable">
                    @{int i = 0;}
                    @foreach (var songs in ViewBag.Songs)
                    {
                        <li song="@i" class="select-me ui-widget-content">
                            <audio class="playsong" data-songtitle="@songs.SoundTrackName" data-id="@songs.Id" src="@Url.Content("~/Content/Songs/" + @songs.SoundTrackName)"></audio>
                            @songs.SoundTrackName
                        </li>
                        i++;
                    }
                </ol>
            </div>

            <div class="large-7 columns">
                From: <wbr id="TimeFrom">00:00<wbr> To: <wbr id="TimeTo">00:00<wbr>
                <div id="range-slider"></div>
            </div>
            
        </div>
    </div>
</div>
